[core]
	autocrlf = input
	editor = vim
[user]
	name = Andrew Dean
	email = ndrwdn@gmail.com
[color]
	diff = auto
[alias]
	co = checkout
	st = status
	cls = diff-tree --no-commit-id --name-only -r
	cma = commit --amend --no-edit
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	pr = "pull --rebase"
	dc = diff --cached
	cln = clean -fxdi
[push]
	default = simple
[include]
	path = .gitconfig.local
