[core]
  autocrlf = input
  editor = nvim
[init]
  defaultBranch = main
[user]
  name = Andrew Dean
  email = ndrwdn@gmail.com
  signingkey = 22EF34EDF6EC7C72
[color]
  diff = auto
[alias]
  co = checkout
  st = status
  cls = diff-tree --no-commit-id --name-only -r
  cma = commit --amend --no-edit
  pr = "pull --rebase"
  dc = diff --cached
  cln = clean -fxdi
  cb = fetch --prune
  lg = log --pretty=format:'%C(auto)%h %>(14,trunc)%ar %>(14,trunc)%cr [%C(cyan)%<(15,trunc)%an%C(reset)|%C("#9fe3f2")%<(15,trunc)%ae%C(reset)] %<(76,trunc)%s%C(auto)%d'
  lgo = log --graph --pretty=format:'%C(auto)%h%C(auto)%d %C(auto)%ar (%cr) [%C(cyan)%an %C("#9fe3f2")<%ae>%C(reset)%C(auto)]% s'
  lgm = log --graph --pretty=format:'%C(auto)%h%C(auto)%d %C(auto)%ar (%cr) [%C(cyan)%an %C("#9fe3f2")<%ae>%C(reset)%C(auto)]%n%s%n%+b%-%n'
  lgd = log --graph --pretty=format:'%C(auto)%h%C(auto)%d %C(auto)%aI (%cI) [%C(cyan)%an %C("#9fe3f2")<%ae>%C(reset)%C(auto)]% s'
  lg2 = log --graph --pretty=format:'%C(auto)%h%C(auto)%d %C(auto)%cI [%C(cyan)%an %C("#9fe3f2")<%ae>%C(reset)%C(auto)] %s'
  lg3 = log --graph --pretty=format:'%C(auto)%h %C(auto)%aI (%cI) [%C(cyan)%an %C("#9fe3f2")<%ae>%C(reset)%C(auto)] %s%C(auto)%d'
  alias = !git config -l | grep alias
  ff = !git fetch origin --prune && git merge --ff-only
  p = pull --prune --ff-only
  from = !git fetch origin && git rebase origin/master
  fr = !git fetch origin && git rebase
  sv = "!f(){ cb=$(git rev-parse --abbrev-ref HEAD); git checkout -b $1; git add -A .; git commit -m $1; git checkout $cb; };f"
  ap = "!f(){ git merge -m $1 $1 && git branch -d $1 && git reset head~;  };f"
  apf = "!f(){ git merge -X theirs -m $1 $1 && git branch -d $1 && git reset head~;  };f"
  find = log --source --all -p -S
  br = branch --format '%(committerdate:iso8601-strict) %(refname:short)' --sort 'committerdate'
  brs = "!f() { branch_name=$(git br | fzf --tac --scheme=history --height=~100% | awk '{print $NF}'); git checkout ${branch_name}; };f"
  brd = "!f() { branch_name=$(git br | fzf --tac --scheme=history --height=~100% | awk '{print $NF}'); git branch -d ${branch_name}; };f"
  brdd = "!f() { branch_name=$(git br | fzf --tac --scheme=history --height=~100% | awk '{print $NF}'); git branch -D ${branch_name}; };f"
  sa = "!f() { clean_name=$(echo $1 | sed -e 's/[^A-Za-z0-9._-]/_/g'); git remote add -f $clean_name $1; git subtree add --prefix $2 $clean_name master --squash; };f"
  su = "!f() { clean_name=$(echo $1 | sed -e 's/[^A-Za-z0-9._-]/_/g'); git fetch $clean_name master; git subtree pull --prefix $2 $clean_name master --squash; };f"
  pu = "!f() { cb=$(git rev-parse --abbrev-ref HEAD); git push -u origin $cb; };f"
[push]
  default = simple
[diff "blackbox"]
  textconv = gpg --use-agent -q --batch --decrypt
[diff "pdf"]
  textconv = pdfinfo
[merge]
	conflictstyle = diff3
[diff]
	algorithm = patience
[include]
  path = ~/.gitconfig.local
