[core]
  autocrlf = input
  editor = vim
[user]
  name = Andrew Dean
  email = ndrwdn@gmail.com
[color]
  diff = auto
[alias]
  co = checkout
  st = status
  cls = diff-tree --no-commit-id --name-only -r
  cma = commit --amend --no-edit
  pr = "pull --rebase"
  dc = diff --cached
  cln = clean -fxdi
  cb = fetch --prune
  lg = log --graph --pretty=format:'%C(auto)%h%C(auto)%d %C(auto)%ar [%C(cyan)%an %C("#9fe3f2")<%ae>%C(reset)%C(auto)] %s'
  alias = !git config -l | grep alias
  from = !git fetch origin && git rebase origin/master
  fr = !git fetch origin && git rebase
  sv = "!f(){ cb=$(git rev-parse --abbrev-ref HEAD); git checkout -b $1; git add -A .; git commit -m $1; git checkout $cb; };f"
  ap = "!f(){ git merge -m $1 $1 && git branch -d $1 && git reset head~;  };f"
  apf = "!f(){ git merge -X theirs -m $1 $1 && git branch -d $1 && git reset head~;  };f"
  find = log --source --all -p -S
#git remote add -f zsh-users_zsh-autosuggestions https://github.com/zsh-users/zsh-autosuggestions
#git subtree add --prefix .zsh/zsh-autosuggestions zsh-users_zsh-autosuggestions master --squash
[push]
  default = simple
[include]
  path = .gitconfig.local
